@import url('https://fonts.googleapis.com/css?family=Francois+One');

html, * {
    margin: 0;
    padding: 0;
}

body#mainView {
    overflow: hidden;
    background: black;
}

#kello {
    position: fixed;
    z-index: 10;
    bottom: 1em;
    right: 1em;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: right;
}

#video-container {
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100%;
    heitgh: 100%;

}